@import "~materialize-css/dist/css/materialize.min.css";

input.input-color{
    border-bottom: 1px solid #ffffff!important;
    box-shadow: 0 1px 0 0 #ffffff!important;
}

input.input-color + label{
    color: #ffffff!important;
}

input.input-color:focus{
    border-bottom: 1px solid #90caf9!important;
    box-shadow: 0 1px 0 0 #90caf9!important;
}

input.input-color:focus + label{
    color: #90caf9!important;
}
